{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto alert alert-light border rounded m-4">
            <h3 class="alert alert-light border rounded m-4">Create and Account</h3>
            <form action="/signup" method="POST">
                {% csrf_token %}
                <!--firstname-->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname id=" class="form-control form-control-sm" placeholder="">
                                
                <!--lastname-->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" id="" class="form-control form-control-sm" placeholder="">

                <!--phone number-->
                <div class="form-group">
                    <label for="">Phone Number</label>
                    <input type="email" name="phonenumber" id="" class="form-control form-control-sm" placeholder="8273723272">

                <!--email-->
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email" id="" class="form-control form-control-sm" placeholder="example@gmail.com">

                <!--password-->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" id="" class="form-control form-control-sm" placeholder="***********">

                <!--submit-->
                <div class="form-group mt-3">
                    <input class="btn btn-sm btn-info" type="submit", value="Create an Account">
                </div>

                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}